

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.navbar, .form-control {
    background-color: #003366;
    background-image: none;
    width: 103%;
}

.form-group {
    width: 32%;
}
.table {
     margin-top: 2px;
}
.navbar-form {
    margin-top: 20px;
}

.navbar {
    position: relative;
    z-index: 1;
    margin-top: -50px;
}

.search {
    font-size: 17px;
    color: #ffffff;
    margin-top: 26px;
    margin-right: 13px;
}

#submit {
    height: 32px;
    width: 10%;
    background-color: #7c7c7c;
    color: #ffffff;
    font-size: 17px;
}

#logo {
    margin-top: 14px;
}

#navbar-fixed {
    position: fixed;
    z-index: 99;
    background-color: white;
    width: 103%;
    height: 26px;
}

#astro-img {
    position: fixed;
    z-index: 100;
    margin-left: 41%;
    margin-top: -100px;
    z-index:999;
}

.container {
    margin-left: 0;
    width: 100%;
    height: 75px;
}

#top-roller {
}

#options .col-md-2 {
    width: 10%;
    color: #010101;
}

#options {
    font-size: 14px;
    margin-top: 17px;
}

    #options a {
        color: #010101;
        margin-top: 34px;
        margin-left: -16px;
    }

    #options .orange {
        color: #ff6600;
        border: 4px solid;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: #ff6600;
        margin-right: -13px;
        margin-left: -14px;
        width: 7%;
    }

    #options .devider {
        width: 3px;
    }

.jumbotron {
    background-color: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: -20px;
    padding-top: 7px;
    position:relative;
}



#customer-information .col-md-2, .col-md-1 {
    width: 10%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1;
}

.percent-14 {
    width: 14%;
}

.percent-9 {
    width: 9%;
}

.background-blue {
    background-color: #003366;
    color: #ffffff;
    height: 31px;
    margin-right: 3px;
    width: 100%;
    padding-top: 8px;
text-align: center;
}
.small-background-blue {
        background-color: #003366;
    color: #ffffff;
    height: 44px;
    margin-right: 0px;
    width: 12%;
    padding-top: 8px;
text-align: center;
font-size: 12px;
}
.row {
    margin-left: 0;
}
.row .col-md-11 {
   padding-left: 0px;
padding-right: 4px;
width: 87%;
height: 62px;
}
/*.background-orange {
    background-color: #ff6600;
    color: #ffffff;
    height: 62px;
    margin-right: 3px;
}*/
table {
    text-align: center;
}
tr {
    height: 30px;
}
#input {
    border-radius: 0;
    width: 100%;
    color:#ffffff;
}
#customer-address {
     width:  75%;
    padding-left: 0;
}

#customer-address-table {
    width: 63%;
}
#collection-bucket {
    width: 25%;
}
#customer-address .row{
    height: 62px;
}
#customer-address .table {
    text-align: left;
}
/*#collection-table {
     margin-top: 2px;
}*/
    #collection-table tr td {
        border: 1px solid;
        border-color: #003366;
    }

        #collection-table tr td:first-child {
            background-color: #f7f7ff;
            width: 49%;
        }


#subscription-status .table {
    width: 100%;
}

#payment-history .table {
    width: 100%;
    border: 14px solid;
border-bottom: none;
border-top: none;
border-left: none;
border-color: #003366;
    margin-top: 0;
}

#payment-history thead tr {
    border: none;
}

#payment-history thead {
    display: inline-block;
}

#payment-history tbody {
    overflow: scroll;
    height: 150px;
    display: inline-block;
    width: 100%;
}

    #payment-history tbody tr {
        border-right: none;
    }

    #payment-history tbody::-webkit-scrollbar {
        background-color: #0066cc;
       width: 7px;
        height: 1px;
    }

    #payment-history tbody::-webkit-scrollbar-thumb {
        background-color: #ff6600;

    }

#financial-transaction {
    margin-right: 4.5%;
}

    #financial-transaction .table {
        width: 47%;
        margin-right: -3.7%;
    }

#payment-history .background-blue {
    height: 35px;
    width: 99.9%;
    margin-right: 0;
}
#financial-transaction .background-blue {
    height: 35px;
    width: 47%;
    margin-right: -3.7%;
    margin-top: -35px;
}




.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #ff6600;
    color: #ffffff;
    height: 38px;
    padding-top: 7px;
    width: 100%;
    border: none;
}

    .nav-tabs > li.tab-button > a {
        height: 60px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-image: url("../img/arrow.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 44%;
        height: 60px;
    }

.nav-tabs > li > a {
    background-color: #003366;
    color: #ffffff;
    height: 38px;
    border: 7px solid;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: 1px solid;
    width: 100%;
    padding-top: 7px;
    border-radius: 0;
    margin-left: -16px;
}

.nav-tabs > li {
    float: left;
    margin-bottom: 5px;
}

.tab-content > .active {
    display: table;
}

.nav-tabs > li > a:hover {
    background-color: #ff6600;
}

#Disconnection {
    background-color: #ebebeb;
    width: 98%;
    margin-top: 0px;
    padding-bottom: 1px;
    margin-bottom: 28px;
    margin-left: 29px;
}

    #Disconnection .blue {
        background-color: #003366;
        color: #ffffff;
        height: 38px;
        border: 7px solid;
        border-left: none;
        border-right: 1px solid;
        width: 13%;
    }

    #Disconnection .orange {
        background-color: #ff6600;
        color: #ffffff;
        height: 38px;
        padding-top: 7px;
        width: 22%;
        border: none;
    }

    #Disconnection .row {
        margin-bottom: 11px;
        background-color: #999999;
        width: 101.9%;
        margin-top: -47px;
        height: 31px;
    }

    #Disconnection .table {
        width: 100%;
    }

    #Disconnection .col-md-2, .col-md-3 {
        padding-top: 9px;
        padding-left: 9px;
        border-color: #ebebeb;
        border-top: none;
        margin-left: -22px;
        margin-bottom: 5px;
    }

    #Disconnection img {
        margin-left: 27px;
    }

thead {
    background-color: #f7f7ff;
    width: 100%;
    border: 1px solid;
    border-color: #003366;
}

tbody {
    background-color: #efe8e8;
}

table tr {
    border: 2px solid;
    border-color: #003366;
}

thead .orange {
    background-color: #ff6600;
}

#footer {
    width: 100%;
    margin-bottom: -20px;
}

    #footer img {
        width: 100%;
    }

    .astro-loader {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity:0.6;
    background-color:#003366;
    text-align:center;
    z-index:20;
}

        .astro-loader img {
            margin-top:20px;
        }
        /* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.0em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            /*color: #333;*/
            text-decoration: none;
        }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: 1.0em;
    margin: 0 0 0px;
    text-align: right;
}



    #login a {
       /* background-color: #d3dce0;*/
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        color:white;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        color: white;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

.modal-body {
    max-height:450px;
    overflow:scroll;
}
