


.row.no-pad {
  margin-right:1px;
  margin-left:1px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
}
.row.no-pad > [class*='col-'] {
  padding-right:1px;
  padding-left:1px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
}


.divfont {
  font-size: 10px;
}

.boxblue {
    margin: 0;
    border: 2px solid navy;
    margin-bottom: 1px;
}

.boxred {
    margin: 0;
    border: 2px solid red;
    margin-bottom: 1px;

}

.boxbrown {
    margin: 0;
    border: 2px solid brown;
    margin-bottom: 1px;

}
